// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
  padding: 0;
}

.child li {
  padding-top: 13px;
  border-bottom: 1px dotted #ccc;
  list-style-type: none;
}

.comment_row {
  margin: auto; //これがないとなぜか勝手にマージンがつく。
  padding: 20px 20px 0px 0px;
  background-color: white;
  text-align: left;
  word-wrap: break-word;
}

#comment {
  display: flex;
}

#comment_detail {
  margin-left: 10px;
}

#comment_input {
  width: 100%;
  display: flex;
  input {
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 20px;
  }
}

.actions{
  margin: 10px 10px 10px 0px;
}
